/* @import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap"); */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe__cta {
  display: grid;
  /* font-family: "Quicksand", sans-serif; */
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
}
/* .subscribe__cta__image {
  min-width: 50%;
} */

.subscribe__cta__image_img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.subscribe__cta__form {
  background-color: #b6d0b2;
  padding: 3rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscribe__cta__form__text {
  text-align: center;
  font-size: 4.3rem;
  font-family: sans-serif;
}

.subscribe__cta__form__input__container {
  display: flex;
  flex-direction: column;
}

.subscribe__cta__form__input {
  border: 1px solid white;
  padding: 5px 15px;
  margin: 10px 0px;
  font-size: 1.5rem;
}

.subscribe__cta__form__button {
  padding: 10px 20px;
  font-size: 1.5rem;
  width: 100%;
}
